@import '../../params.scss';

.location{
    @include flex;
    flex-wrap: wrap;
    gap: 50px;
    background-color: $color-tertiary;
    padding: 50px;
    border-radius: 25px;
    margin-left: 3rem;
    margin-right: 3rem;
    @media screen and (max-width: 1230px){
        gap: 25px; 
      
    }
    @media screen and (max-width: 800px){  
        display: flex;
        flex-direction: column;
        width: 80%;
        margin: auto;
        background-color: white;
    }
}