@mixin flex($direction: row, $justify: center, $align: center) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

$color-primary : #FFFFFF;
$color-secondary : #FF6060;
$color-tertiary : #F7F7F7;

a{
    text-decoration: none;
    color: inherit;
}

li{
    list-style: none;
}

body{
    font-family: "Montserrat", sans-serif;
    
    padding-top: 40px;
    margin: auto;
    @media screen and (max-width: 500px) {
        padding-top: 20px;
    }
}