@import '../../params.scss';

.collapse{
    background-color: $color-tertiary;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin: 0 auto;
    margin-left: 5rem;
    margin-right: 5rem;
    &_item{
       
    }
    &_title{
        @include flex(row, space-between, center);
        background-color: $color-secondary;
        color: $color-primary;
        border-radius: 10px;
        font-weight: 500;
        font-size:  18px;
        padding: 10px 15px;
        margin-bottom : 0;
        cursor: pointer;
        .arrow{
            transition: all 0.2s ease-in-out;
            @media screen and (max-width: 1230px){
                width: 15px;     
            }
        }
        .arrow_up{
            transform: rotate(0deg);
        }
        .arrow_turn{
            width: 15px; 
            transform: rotate(180deg);
        }
    }
    &_content{
        margin-top: 0.5rem;
        letter-spacing: 1px;
        visibility: visible;
        opacity: 1;
        height: auto;
        padding: 10px;
        margin-bottom: auto;
        font-size:  16px;
        color: $color-secondary;
        transition: visibility 0.5s ease-in-out,
                    opacity 0.5s ease-in-out,
                    height 0.2s ease-in-out;
    }
    &_hiden_content{
        visibility: hidden;
        opacity: 0;
        height: 0;
        margin: 0;
    }
    p{
        margin: auto;
    }
}

.logements_collapse{
   display: flex;

    &_content{
        width: 100%;
    }
    @media screen and (max-width: 650px){
        flex-direction: column;
        gap: 20px;
        margin: 20px auto;
          
     }
}