@import '../../params.scss';


.logement {
    &_info {
        @include flex(row, space-between, flex-start);
        color: $color-secondary;
        width: 95%;
        margin: 0 auto;
    }

    &_content {
        display: flex;
        flex-direction: column;
        gap: 10px;
        font-weight: 500;
        font-size: 14px;
    }

    ul {
        display: flex;
        padding-left: 0;
    }

    li {
        display: inline;
        padding: 5px 15px;
        margin-right: 10px;
        cursor: pointer;
        border-radius: 10px;
        border: none;
        color: $color-primary;
        background-color: $color-secondary;
    }

    &_info_host_content{
        display: flex;
                justify-content: flex-end;
                align-items: flex-end;
                gap: 0 10px;
    }

    &_info_host {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    &_info_host_name {
        display: flex;
        align-self: center;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
    }

    &_info_host_name_width {
        width: 30%;
    }

    &_info_host_profilpicture {
        width: 64px;
        height: 64px;
        object-fit: cover;
        object-position: center;
        border-radius: 50%;
    }

    &_info_host_stars{
        display: flex;
         gap: 10px;
         margin-top: 2rem;
    }

}