@import '../../params.scss';

.error{
    margin-top: 4rem;
   text-align: center;

   max-width: 95%;
   padding-bottom: 40px;
   color: $color-secondary;


    &_title{
        @include flex(column, center, center);
        font-size: 288px;
        font-weight: 700;
        margin: auto;
    }
    &_content{
        text-align: center;
        font-weight: 500;
        font-size: 36px;
        margin: auto;
    }
    &_home{
        text-align: center;
        font-weight: 500;
        font-size: 18px;
        margin-top: 8rem;
        text-decoration: underline;
        @media screen and (max-width: 500px){
        @include flex(center)
        }
    }
    }
